<div style="display:none">
$
\newcommand{\Lin}{\mathop{\rm Lin}\nolimits}
\newcommand{\modop}{\mathop{\rm mod}\nolimits}
\renewcommand{\div}{\mathop{\rm div}\nolimits}
\newcommand{\Var}{\Delta}
\newcommand{\evat}{\bigg|}
\newcommand\varn[3]{D_{#2}#1\cdot #3}
\newcommand{\dtp}{\cdot}
\newcommand{\dyd}{\otimes}
\newcommand{\tra}{^T}
\newcommand{\del}{\partial}
\newcommand{\dif}{d}
\newcommand{\rbr}[1]{\left(#1\right)}
\newcommand{\sbr}[1]{\left[#1\right]}
\newcommand{\cbr}[1]{\left\\{#1\right\\}}
\newcommand{\cbrn}[1]{\\{#1\\}}
\newcommand{\abr}[1]{\left\langle #1 \right\rangle}
\newcommand{\abrn}[1]{\langle #1 \rangle}
\newcommand{\deriv}[2]{\frac{d #1}{d #2}}
\newcommand{\dderiv}[2]{\frac{d^2 #1}{d {#2}^2}}
\newcommand{\partd}[2]{\frac{\partial #1}{\partial #2}}
\newcommand{\nnode}{n_n}
\newcommand{\ndim}{n_d}
\newcommand{\suml}[2]{\sum\limits_{#1}^{#2}}
\newcommand{\Aelid}[2]{A^{#1}_{#2}}
\newcommand{\dv}{\, dv}
\newcommand{\dx}{\, dx}
\newcommand{\ds}{\, ds}
\newcommand{\da}{\, da}
\newcommand{\dV}{\, dV}
\newcommand{\dA}{\, dA}
\newcommand{\eqand}{\quad\text{and}\quad}
\newcommand{\eqor}{\quad\text{or}\quad}
\newcommand{\eqwith}{\quad\text{and}\quad}
\newcommand{\inv}{^{-1}}
\newcommand{\veci}[1]{#1_1,\ldots,#1_n}
\newcommand{\var}{\delta}
\newcommand{\Var}{\Delta}
\newcommand{\eps}{\epsilon}
\newcommand{\ddt}{\frac{d}{dt}}
\newcommand{\Norm}[1]{\left\lVert#1\right\rVert}
\newcommand{\Abs}[1]{\left|#1\right|}
\newcommand{\dabr}[1]{\left\langle\\!\left\langle #1 \right\rangle\\!\right\rangle}
\newcommand{\dabrn}[1]{\langle\\!\langle #1 \rangle\\!\rangle}
\newcommand{\idxsep}{\,}
$
</div>
